$backgroundColor: #1C1F2C;
$black: #12141A;
$gray: #2A2D3A;
$blue: #3FA1C4;
$lightGreen: #00AD88;
$darkGreen: #017E63;
$red: #F53434;
$white: #EDF0FF;
$yellow: #F5C434;
$shadow: 2px 2px 4px 0 #000000;
$primaryFontSize: 16px;
$secondaryFontSize: 8px;
$tertiaryFontSize: 4px;
